<div class="container">
  <div class="row separate">
  </div>
  <div class="row" style="background-color: antiquewhite; border: 1px solid black;">
    <div class="col-md-3">Nombre</div>
    <div class="col-md-3">Apellido</div>
    <div class="col-md-3">Cargo</div>
    <div class="col-md-3">Salario</div>
  </div>
  <div class="row">
    <div class="col-md-3">
      [{{indice+1}}] {{empleadoLista.nombre}}
      &nbsp;&nbsp;<a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'1'}">Actualiza</a>
      &nbsp;&nbsp;<a [routerLink]="['/actualiza',indice]" [queryParams]="{accion:'2'}">Elimina</a>
    </div>
    <div class="col-md-3">{{empleadoLista.apellido}}</div>
    <div class="col-md-3">{{empleadoLista.cargo}}</div>
    <div class="col-md-3">{{empleadoLista.salario}}</div>
  </div>
</div>

<app-empleado-hijo-caracteristicas (caracteristicaHijoEvent)="agregarCaracteristica($event)"></app-empleado-hijo-caracteristicas>

<ul style="list-style: none;">
  <li *ngFor="let caracteristica of arrayCaracteristicas">{{caracteristica}}</li>
</ul>